
body{
  margin:0;
}
.primaryMenu {
    background-color: #52a849;
    padding: 20px;
    color: rgb(239, 233, 223);
  }
  
  .primaryMenu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .primaryMenu li {
    margin: 0 10px;
  }
  
  .primaryMenu li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;
  }
  
  .primaryMenu li a:hover {
    color: #aaa;
  }
  
  .primaryMenu li.active a {
    color: #aaa;
  }
  